@page
@model PRN221_VotingSystem.Pages.Admin.User.UserManagerModel
@{
    ViewData["Title"] = "User Management";
}

<style>
    .full-height-container {
        height: 80vh !important;
    }
</style>

<div class="jumbotron text-center">
    <h1>User Management</h1>
</div>
<br>
<br>
<br>
<p class="card-text">Search User here</p>
<div>
    <form asp-page-handler="Search">
        <input name="userName" type="text"/>
        <button>Search</button>
    </form>
</div>
<br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">Job</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <th scope="row">@account.UserId</th>
                    <td>@account.Username</td>
                    <td>@account.FirstName @account.LastName</td>
                    <td>@account.Email</td>
                    <td>@account.Phone</td>
                    <td>@account.Address</td>
                    <td>@account.Dob.ToString("dd/MM/yyyy")</td>
                    <td>@account.Gender</td>
                    <td>@account.Job</td>
                    <td><form asp-page-handler="Delete"><input hidden name="userId" value="@account.UserId"/><button>Delele</button></form></td>
                </tr>
            }
        </tbody>
    </table>
</div>